body{
	background: url("../Image/background.jpg") fixed no-repeat ;
}

.main{
	background: white;
	border: 1px #AAAAAB solid ;
	height: auto;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 15px black;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 3px red solid;
}

h1{
	color: black;
	font-family: Calibri, Sans-serif;
	font-weight: 300;
	margin: 20px;
}

p{
	color: #AAAAAB;
	font-family: serif;
}

button{
	background: red;
	border: none;
	height: auto;
	width:  auto;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	color: white;

}

button:hover{
	background: black;
}

button:focus{
	outline: none;
}

input{
	width: 350px;
	background: white;
	border-radius: 5px;
	height: 40px;
	border: 1px #AAAAAB solid ;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	margin-top:10px;
	margin-bottom: 10px;
	font-family: Cambria, serif;
	font-size: 16px;
}

input:focus{
	outline: none;
}

.item{
	background: white;
	border: 1px #AAAAAB solid;
	border-left: 3px red solid;
	border-radius: 5px;
	width: auto;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 20px;
	cursor: move;
}

	.item:hover{
		background-color: #F0F0F0;
		color: red;
	}

	.item label{
		color: black;
		font-family: Cambria, Sans-serif;
		font-size: 14px;
		margin-left: 10px;
		font-size: 22px;
		display: inline-block;
		width: 340px;
	}

	.item label:hover{
		cursor: pointer;
		color: red;
	}

	.item input{
		width: 15px;
		height: 15px;
		border: 1px red solid;
		padding-left: 0px;
	}
	
	.item button{
		width: 17px;
		height: 17px;
		background: none;
		border: 0px;
		margin-left: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px;
		background: url("../Image/delete-icon.png") center no-repeat ;
	}

	.item button:hover{
		cursor: pointer;
	}